<div id="<%= dom_id recipe %>" class="recipe_container2">
  <div class="block3">
    <h4 class="recipe_title2">
      <%= link_to recipe.title, recipe %>
    </h4>

  </div>
    <p class="recipe_description2">
      <%= recipe.description %>
    </p>
    <%= form_with(model: recipe, id: "recipe_form") do |form| %>
      <div class="form_group">
        <%= form.label :public_recipe, style: "display: block", class: "form_label" do %>
          Public recipe:
          <%= form.check_box :public_recipe, id: "recipe_public_recipe", class: "form_check_input" %>
        <% end %>
      </div>
      <%= form.submit "Save" %>
    <% end %>

</div>
