<div class="new-ingredient">
<div class="row btn-back">
  <%= link_to "Back", "/recipes/#{@recipe.id}" %>
</div>

<div class="add-form-margin">

  <h1>Add Ingredients</h1>

  <%= form_with(model: @recipe_food, url: "/recipes/#{@recipe.id}/recipe_foods/")  do |form| %>
    <% if @recipe_food.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@recipe_food.errors.count, "error") %> prohibited this @recipe_food from being saved:</h2>

        <ul>
          <% @recipe_food.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class=""> 
    <%= form.label :name, "Select a food:" %><br/>
    <%= form.select :id, 
      options_for_select(@foods.map { |f| [f.name, f.id] }), 
      {}, { class: "input-default" } %>
      <%= form.label :quantity, placeholder: "10 'kg'.." %>
      <%= form.number_field :quantity, class: "form--input" %>
  
      <%= form.submit class: "save-button" %>
    </div>
  <% end %>
</div>
</div>
